
<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy <strong>Miguel Ángel Osorio Londoño</strong>, un ingeniero de sistemas apasionado por la programación. Tengo experiencia trabajando con tecnologías frontend y backend, incluyendo <strong>React, JavaScript, HTML, CSS, Bootstrap, Java, Go, PHP y SQL</strong>.
    </p>

    <p>
      Mi objetivo es desarrollar soluciones de software de alta calidad que impulsen la innovación tecnológica. He trabajado en proyectos de <strong>sistemas CRUD, optimización de servidores y gestión de infraestructuras</strong>, siempre buscando entregar interfaces responsivas y centradas en el usuario.
    </p>

    <p>
      Actualmente, lidero equipos de desarrollo en diferentes proyectos y también contribuyo como <strong>programador en el Semillero de Investigación Obelix de la Universidad Libre</strong>, donde integro tecnologías frontend y backend siguiendo el patrón MVC.
    </p>
  </div>

</article>
